<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vilagmegvaltas.shisha"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.vilagmegvaltas.shisha.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vilagmegvaltas.shisha.StartSessionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.vilagmegvaltas.shisha.RunningSessionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.vilagmegvaltas.shisha.SummaryActivity"
             >
        </activity>
    </application>

</manifest>